<div class="card mx-auto" style="width: 25rem">
  <div class="card-header text-center">Agregar Antecedente</div>
  <div class="card-body">
    <form (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="documentNumberInput" class="form-label"
          >N° Documento del Paciente:</label
        >
        <input
          type="text"
          class="form-control"
          id="documentNumberInput"
          name="documentNumber"
          maxlength="8"
          [(ngModel)]="documentNumber"
        />
      </div>
      <div class="mb-3">
        <label for="typeInput" class="form-label">Tipo:</label>
        <select
          id="typeInput"
          class="form-select"
          name="type"
          [(ngModel)]="antecedent.type"
        >
          <option value="EM">Examen Médico</option>
          <option value="AF">Antecedentes Familiares</option>
          <option value="IM">Información de Medicamentos</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="detailInput" class="form-label">Detalle:</label>
        <input
          type="text"
          class="form-control"
          id="detailInput"
          name="detail"
          [(ngModel)]="antecedent.detail"
        />
      </div>
      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">Agregar</button>
      </div>
    </form>
  </div>
</div>
